<app-header></app-header>

<app-product-template></app-product-template>

<div class="main">

    <div *ngIf="currentCategory">
        <div class="head">
            <div class="head-header">
                {{currentCategory.name.toUpperCase()}}
            </div>
            <div class="head-content">
                {{currentCategory.content}}
            </div>
        </div>
    </div>

    <div class="products">

        <div class="product-card" *ngFor=" let product of filteredProducts" (click)="navigate(product.short)">

            <div class="image-container">

                <img [src]="product.images[0]?.image_path" class="img default" />
                <img [src]="product.images[1]?.image_path" class="img hover" />

                <button class="wishlist-btn" (click)="toggleWishlist(product, $event)">
                    <i class="fas fa-heart" [class.active]="wishlistService.isInWishlist(product.id)"></i>
                </button>

            </div>
            <div class="name">
                {{product.name}}
            </div>
            <div class="price">
                <div class="discount">
                    From Rs. {{product.variants[0].discounted_price | number:'1.2-2'}}
                </div>
                <div class="original">
                    Rs. {{product.variants[0].original_price | number:'1.2-2'}}
                </div>
            </div>
            <button class="cart-button">
                ADD TO CART
            </button>

        </div>

    </div>


</div>

<app-footer></app-footer>