<app-header></app-header>

<div class="main">
    <div class="header">Shop By Category</div>

    <!-- Skeleton -->
    <div class="category-slider" [hidden]="!isLoading">
        <div class="category-item" *ngFor="let i of [1,2,3,4,5,6,7,8]">
            <div class="skeleton-category-box skeleton"></div>
            <div class="skeleton skeleton-category-name"></div>
        </div>
    </div>

    <!-- Actual categories -->
    <div class="category-slider" [hidden]="isLoading">
        <div class="category-item" *ngFor="let item of categories" (click)="navigateToCategory(item.route)">
            <div class="category-box shadow-sm overflow-hidden">
                <img [src]="item.image" alt="{{ item.name }}" class="img-fluid w-100" />
            </div>
            <div class="name pt-3">{{ item.name }}</div>
        </div>
    </div>
</div>

<app-footer></app-footer>
