<app-header></app-header>

<div class="main">

    <div class="login">
        <div class="header">Register</div>
        <div class="content">
            Please fill in the form below to create an account.
        </div>
        <form (ngSubmit)="register()">

            <input [(ngModel)]="firstName" name="firstName" placeholder="First Name">

            <input [(ngModel)]="lastName" name="lastName" placeholder="Last Name">

            <input [(ngModel)]="email" name="email" placeholder="Email">

            <input [(ngModel)]="password" name="password" type="password" placeholder="Password">

            <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
            <div *ngIf="successMessage" class="success">{{ successMessage }}</div>

            <button class="submit" type="submit" [disabled]="isSubmitting">
                {{ isSubmitting ? 'Creating Account...' : 'Create Account' }}
            </button>

            <div class="register">
                Already have an account? <a href="/account/login"> Login</a>
            </div>

        </form>

    </div>

</div>


<app-footer></app-footer>
